#### SQLite

It is the SQL version in the Python

In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect('student.db')
connection

In [5]:
cursor=connection.cursor()

In [36]:
# Create Table

cursor.execute("""
CREATE TABLE IF NOT EXISTS student(
		id INT PRIMERY KEY UNIQUE,
		name VARCHAR(255) NOT NULL,
		city VARCHAR(255)
	)
""")

connection.cursor()

In [37]:
# Insert into Table

cursor.execute("""
INSERT INTO student(id,name,city) values(1,"Tafheem","Kerange")
""")

connection.commit()

In [38]:

cursor.execute("""
INSERT INTO student(id,name,city) 	VALUES
			   (2,"Ahemad","Rourkela"),
			   (3,"Aleem","Rourkela")
""")

connection.commit()

In [47]:
cursor.execute("""Select * from student""")
rows=cursor.fetchall();

for row in rows:
	print(row)

(1, 'Kalix', 'Kerange')
(3, 'Aleem', 'Rourkela')

In [ ]:

cursor.execute("""
	DROP TABLE IF EXISTS student
""")

connection.commit()

In [ ]:
# Update 

cursor.execute("""
	UPDATE student 
	SET name="Kalix"
	WHERE id=1
""")

connection.commit()

In [ ]:
# Delete the rows
cursor.execute("""
	DELETE FROM student WHERE id=2
""")

connection.commit()